.sidebar-resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  cursor: col-resize;
  z-index: 9999;
}

.sidebar-resizer:hover::after,
.sidebar-resizer.dragging::after {
  content: '';
  position: absolute;
  top: 0;
  right: 2px;
  width: 2px;
  height: 100%;
  background: rgba(58, 56, 51, 0.3);
  border-radius: 1px;
}